/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    overflow: hidden; /* Escondendo a barra */
}

ol, ul {
    padding: 0 2em;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    height: 100%;
}


#color {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50vh;
    transition: background-color cubic-bezier(0.83, 0, 0.17, 1) 0.6s;
}

#interact {
    border-top: 3.5px solid black;
}

#interact {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#interact h1 {
    margin-top: 20px;
    font-size: 2.5em;
}

.flex-item-1 {
    flex: 1;
}

#how-to-play {
    margin-left: 2.5vh;
    margin-top: 20px;
    text-align: left;
    height: inherit;
}

.text-header {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
}

.text-header:first-child {
    margin-top: 0;
}

.text-content {
    font-size: 0.95em;
}

.text-content li {
    margin: 0.2em 0;
}

#the-center {
    text-align: center;
    min-width: 22.5em;
    align-self: flex-start;
    padding: 0 5vh;
}

#play {
    margin-right: 2.5vh;
    margin-top: 20px;
    text-align: center;
    height: inherit;
}

button {
    margin: 20px 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    border: 3.5px solid black;
    padding: 1em 2em;
    font-size: 1em;
    transition: border-color 0.25s, color 0.25s;
    border-radius: 5em;

}

button:hover {
    cursor: pointer;
    border-color: grey;
    box-shadow: 0 0.8em 0.8em -0.4em black;
    transform: translateY(-0.15em);
}

#Numbers {
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;
}

.square {
    border: 3.5px solid black;
    background-color: none;
    font-family: 'Roboto', sans-serif;
    width: 5em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    transition: border-color 0.25s, color 0.25s;
    margin-top: 1em;
}

.square:hover {
    cursor: pointer;
    border-color: grey;
    box-shadow: 0 0.8em 0.8em -0.4em black;
    transform: translateY(-0.15em);
}